/**/
@font-face{
    font-family: "CloudYuanXiGBK";
    src:url(../../font/锐字云字库细圆体GBK.ttf)
}
@font-face{
    font-family: "YueYuan";
    src:url(../../font/造字工房悦圆（非商用）常规体.otf)
}

@font-face{
    font-family: "AvenirMedium";
    src:url(../../font/Avenir-Medium.otf)
}

.content{
    width:100%;
    height:100%;
    margin-top: 100px;
    margin-left:100px;
}

.left{
    position: fixed;
    width:103px;
    height: 800px;
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: #45D8BC;
    text-align: center;
    align-items: center;
}

.right{
    position: fixed;
    left: 240px;
    width: 80%;
    height: 80%;
    
    overflow-y: scroll; 
}

.content .left button{
    width: 102.596px;
    height:38.934px;
    text-align: center;
    line-height: 38.934px;
    border: none;
    font-size: 21.34px;
    font-family: CloudYuanXiGBK;
    background-color: white;
}

.classTitle{
    font-family: YueYuan;
    font-size:24pt ;
    color: #45D8BC;
    margin-bottom: 15px;
}

.linechart{
    height:200px;
    width: 1000px;
    background-color: #f2f2f2;
    overflow-x: hidden;
    overflow-y: hidden;
    border-left:8px solid #45D8BC;
    margin-bottom: 40px;
}

.linechart .basicline{
    /* padding:10px; */
    margin-bottom:0;
    margin-top: 0;
    margin-left: 40px;
    width: 190px;
    height: 220px;
    /* background-color: white;
    font-size: 18.14pt; */
}

.chartTitle{
    margin-top: 20px;
    font-size: 12pt;
    font-family: AvenirMedium;
    margin-bottom: 8px;
    /* margin-left: 40px; */
}

.linechart .basicline .blpic{
    background-image:  url(../../pic/ChartTemplate/1-BasicLineChart.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    height: 140px;
    padding-bottom: 0px;
    /* margin-left: 40px; */
}

.basicline .active{
    background-color: grey !important;
    border-left: 10px solid #45D8BC;
}

.linechart .basicarea{
    padding: 10px;
    position: absolute;
    top: 39.5px;
    left: 270px;
    /* background-color: white;
    font-size: 18.14pt; */
    width: 190px;
    height: 220px;
}

.linechart .basicarea .bapic{
    background-image:  url(../../pic/ChartTemplate/2-BasicAreaChart.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    height: 140px;
    padding-bottom: 0px;
    /* margin-left: 40px; */
}

.linechart .stackedline{
    padding: 10px;
    position: absolute;
    top: 39.5px;
    left: 500px;
    width: 190px;
    height: 220px;
}

.linechart .stackedline .slpic{
    background-image:  url(../../pic/ChartTemplate/5-StackedLineChart.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    height: 140px;
    padding-bottom: 0px;
}

.linechart .stackedarea{
    padding: 10px;
    position: absolute;
    top: 39px;
    left: 730px;
    width: 190px;
    height: 220px;
}

.linechart .stackedarea .sapic{
    background-image:  url(../../pic/ChartTemplate/4-StackedareaChart.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    idth: 186px;
    height: 140px;
    padding-bottom: 0px;
}

.linechart .smoothedline{
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 1500px;
    width: 300px;
    height: 300px;
    background-color: white;
    font-size: 18.14pt;
}

.linechart .smoothedline .smpic{
    background-image:  url(../../pic/ChartTemplate/3-SmoothedLineChart.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
}



.barchart{
    height:200px;
    width: 1000px;
    background-color: #f2f2f2;
    overflow-x: hidden;
    overflow-y: hidden;
    border-left:8px solid #45D8BC;
    margin-bottom: 40px;
}

.barchart .barsimple{
    margin-bottom:0;
    margin-top: 0;
    margin-left: 40px;
    width: 190px;
    height: 220px;
}

.barchart .barsimple .bspic{
    background-image:  url(../../pic/ChartTemplate/6-BarSimple.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    height: 140px;
    padding-bottom: 0px;
}

.barchart .axisalign{
    padding: 10px;
    position: absolute;
    top: 331.5px;
    left: 270px;
    width: 190px;
    height: 220px;
}

.barchart .axisalign .aapic{
    background-image:  url(../../pic/ChartTemplate/7-坐标轴刻度与标签对齐.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    height: 140px;
    padding-bottom: 0px;
}

.barchart .bararea{
    padding: 10px;
    position: absolute;
    top: 331.5px;
    left: 500px;
    width: 190px;
    height: 220px;
}

.barchart .bararea .bareapic{
    background-image:  url(../../pic/ChartTemplate/8-堆叠条形图.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    height: 140px;
    padding-bottom: 0px;
}

.barchart .serieslayout{
    padding: 10px;
    position: absolute;
    top: 331.5px;
    left: 730px;
    width: 190px;
    height: 220px;
}

.barchart .serieslayout .seriespic{
    background-image:  url(../../pic/ChartTemplate/9-SimpleExampleofDataset.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    height: 140px;
    padding-bottom: 0px;
}

.piechart{
    height:200px;
    width: 1000px;
    background-color: #f2f2f2;
    overflow-x: hidden;
    overflow-y: hidden;
    border-left:8px solid #45D8BC;
    margin-bottom: 40px;
}

.piechart .doughnutChart{
    margin-bottom:0;
    margin-top: 0;
    margin-left: 40px;
    width: 190px;
    height: 220px;
}

.piechart .doughnutChart .doughnutChartpic{
    background-image:  url(../../pic/ChartTemplate/doughnutChart.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    height: 140px;
    padding-bottom: 0px;
}

.piechart .nightingare{
    padding: 10px;
    position: absolute;
    top: 623px;
    left: 270px;
    width: 190px;
    height: 220px;
}

.piechart .nightingare .nightingarepic{
    background-image:  url(../../pic/ChartTemplate/nightingalesRoseDiagram.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    height: 140px;
    padding-bottom: 0px;
}

.scatterdiagram{
    height:400px;
    width: 1000px;
    background-color: #f2f2f2;
    overflow-x: hidden;
    overflow-y: hidden;
    border-left:8px solid #45D8BC;
    margin-bottom: 220px;
}

.scatterdiagram .basicScatter{
    margin-bottom:0;
    margin-top: 0;
    margin-left: 40px;
    width: 190px;
    height: 220px;
}

.scatterdiagram .basicScatter .basicScatterpic{
    background-image:  url(../../pic/ChartTemplate/basicScatterChart.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    height: 140px;
    padding-bottom: 0px;
}

.scatterdiagram .Bubble{
    padding: 10px;
    position: absolute;
    top: 914px;
    left: 270px;
    width: 190px;
    height: 220px;
}

.scatterdiagram .Bubble .bubblepic{
    background-image:  url(../../pic/ChartTemplate/bubbleChart.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    height: 140px;
    padding-bottom: 0px;
}

.active{
    background-color: #45D8BC !important;
    border:0px;
    color:white;
}