<div class = 'content'>
    <div class = 'left' >
        <button b = '1' (click)="onClick(1)">折线图</button>
        <button b = '2' (click)="onClick(2)">柱状图</button>
        <button b = '3' (click)="onClick(3)">饼图</button>
        <button b = '4' (click)="onClick(4)">散点图</button>
    </div>

    <body class = 'right' (scroll)="doChange()">
        <div class="classTitle">折线图 Line</div>
        <div class="linechart" a="1" >
            <div [routerLink]="[ '/BasicLine' ]" routerLinkActive="active" class = "basicline">
                <div class="chartTitle">Basic Line Chart</div>
                <div class = "blpic"></div>
            </div>
            <div [routerLink]="[ '/BasicArea' ]" routerLinkActive="active" class = "basicarea">
                <div class="chartTitle">Basic Area Chart </div> 
                <div class = "bapic"></div> 
            </div>
            <div [routerLink]="[ '/StackedLine' ]" routerLinkActive="active" class = "stackedline">
                <div class="chartTitle">Stacked Line Chart</div>
                <div class = "slpic"></div>
            </div>
            <div [routerLink]="[ '/StackedArea' ]" routerLinkActive="active" class = "stackedarea">
                <div class="chartTitle">Stacked Area Chart</div>
                <div class = "sapic"></div>
            </div>
            <!-- <div [routerLink]="[ '/SmoothedLine' ]" routerLinkActive="active" class = "smoothedline">
                <div class="chartTitle">Smoothed Line Chart</div>
                <div class = "smpic"></div>
            </div> -->
        </div>
        <div class="classTitle" a="2">柱状图 Bar</div>
        <div class="barchart" >
            <div [routerLink]="[ '/BarSimple' ]" routerLinkActive="active" class = "barsimple">
                <div class="chartTitle">Bar Simple</div>
                <div class = "bspic"></div>
            </div>
            <div [routerLink]="[ '/Axisalign' ]" routerLinkActive="active" class = "axisalign">
                <div class="chartTitle">Axis Align</div>
                <div class = "aapic"></div>
            </div>
            <div [routerLink]="[ '/BarArea' ]" routerLinkActive="active" class = "bararea">
                <div class="chartTitle">Bar Area</div>
                <div class = "bareapic"></div>
            </div>
            <div [routerLink]="[ '/SeriesLayout' ]" routerLinkActive="active" class = "serieslayout">
                <div class="chartTitle">Bar Area</div>
                <div class = "seriespic"></div>
            </div>
        </div>
        <div class="classTitle" a="3">饼图 Pie</div>
        <div class="piechart" >
            <div class = "doughnutChart">
                <div class="chartTitle">Doughnut Chart</div>
                <div class = "doughnutChartpic"></div>
            </div>
            <div class = "nightingare">
                <div class="chartTitle">Nightingales Diagram</div>
                <div class = "nightingarepic"></div>
            </div>
        </div>
        <div class="classTitle" a="4">散点图 Scatter</div>
        <div class="scatterdiagram" >
            <div class = "basicScatter">
                <div class="chartTitle">Basic Scatter</div>
                <div class = "basicScatterpic"></div>
            </div>
            <div class = "Bubble">
                <div class="chartTitle">Bubble Chart</div>
                <div class = "bubblepic"></div>
            </div>
        </div>
    </body>
</div>