@font-face{
    font-family:'MFYueYuan_Noncommercial-Regular';/*使用:font-family: MFYueYuan_Noncommercial-Regular;*/
    src:url("./font/造字工房悦圆（非商用）常规体.otf")
}

.header{
    min-width: 960px;
    height:71.019px;
    background-color: #dbdbdb;
    color:#4D4D4D;
    /* margin: 0 auto; */
    /* display: flex; */
}

.nav{
    min-width: 960px;
    height: 71.019px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.navListLogo{
    display: flex;
    font-size: 18.14pt;
    font-family: MFYueYuan_Noncommercial-Regular;
    width: 340px;
    padding-left: 40px;
    /* margin: 40 0; */
}

.logo{
    width: 258px;
    height: 41px;
    background-image: url('./pic/logo.png');
    /* span是行块，是没有宽高的 */
    /* background-size: 100% 100%; */
    background-position: center;
    background-repeat: no-repeat;
}

.navList{
    display: flex;
    font-size: 18.14pt;
    font-family: MFYueYuan_Noncommercial-Regular;
}

.navItem{
    width: 90.589px;
    height: 63.019px;
    text-align: center;
    line-height: 71.019px;
}
.navItem:focus{
    outline: none;
}
.navItem.active{
    color: white;
    background-color: #999999;
    border-bottom: 6.5pt solid #45D8BC;
}

.navItem4{
    width: 115px;
    height: 63.019px;
    text-align: center;
    line-height: 71.019px;
}

.navItem4:focus{
    outline: none;
}
.navItem4.active{
    color: white;
    background-color: #999999;
    border-bottom: 6.5pt solid #ffe861;
}

div.back {
    -moz-transition-duration:.4s;
    -o-transition-duration:.4s;
    -webkit-transition-duration:.4s;
    background-color:rgba(28, 29, 25, 1);
    position: fixed;
    right: 80px;
    left: 240px;
    height:0;
    width:1400px;
}

.navItem4:hover {
    color: white;
    background-color: #999999;
    border-bottom: 6.5pt solid #ffe861;
}

.navItem4:hover div.back{
    height:100px;
}

/* .navItem4{
    width: 115px;
    height: 63.019px;
    text-align: center;
    line-height: 71.019px;
}
.navItem4:focus{
    outline: none;
}
.navItem4.active{
    color: white;
    background-color: #999999;
    border-bottom: 6.5pt solid #ffe861;
} */

/* url("./font/Avenir-Light.otf"),url("./font/Avenir-Medium.otf"),url("./font/AvenirNext-Medium.ttf"),url("./font/Baskerville SemiBold.ttf"),url("./font/DroidSansChinese.ttf"),url("./font/fzlthk.ttf"),url("./font/FZXH1JW.TTF"),url("./font/方正兰亭中黑_GBK.TTF"),url("./font/锐字云字库细圆体GBK.ttf"), */
/* .logo{
    height: 71.019px;
    width: 620px;
} */

/* .logoImg{
    height:41px;
    width: 258px;
} */